
h2.name{
    font-weight: normal;
    font-size: 20px;
    padding-left: 10px;
    margin-bottom: 10px;
    color: blue;
  }

h3.title{
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
  }
  
  .profile{
    padding: 10px;
  }
  
  ul.history_list li{
    list-style: none;
    display: flex;
    border-bottom: 1px dotted #ccc;/* 下線の点線 */
    margin-bottom: 1em;
    padding-bottom: 0.2em;
  }
  
  ul.history_list li div.txt{
    flex: 1;
  }
  
  div.year{
    width: 5em;
  }
  
  /*tabの形状*/
.tab{
	display: flex;
	flex-wrap: wrap;
}
.tab li a{
	display: block;
	background:#ddd;
	margin:0 2px;
	padding:10px 20px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
	background:#fff;
}


/*エリアの表示非表示と形状*/
.area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	background: #fff;
	padding:50px 20px;
  max-width: 1000px;
  min-height: 600px;
  margin: auto;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* --------------------------------------------------------------------------------
Tabのレイアウト
-------------------------------------------------------------------------------- */
/*tabの形状*/
.tab{
	display: flex;
	flex-wrap: wrap;
}
.tab li a{
	display: block;
	background:#ddd;
	margin:0 2px;
	padding:10px 20px;
}
/*liにactiveクラスがついた時の形状*/
.tab li.active a{
	background:#fff;
}


/*エリアの表示非表示と形状*/
.area {
	display: none;/*はじめは非表示*/
	opacity: 0;/*透過0*/
	background: #fff;
	padding:50px 20px;
}

/*areaにis-activeというクラスがついた時の形状*/
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}



/*========= レイアウトのためのCSS ===============*/

body{
	background:#eee;
}

ul{
	list-style:none;
}

a{
	color:#333;
	text-decoration: none;
}

.wrapper{
	width:100%;
	max-width: 960px;
	margin:30px auto;
    background:#fefefe;
}

.area h2{
	font-size:1.3rem;
	margin:0 0 20px 10px;
}

.area li{
	padding: 10px; 
	border-bottom: 1px solid #ddd;
}



.thumb_list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}

.thumb_list li {
  width: 25%;
  height: 120px;
  padding: 10px;
}


.thumb_list li img {
  display: block;
  border: 1px solid #ccc;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}